<div class="grid" style="display:none">

{% for d in data  %}
    <div class="col-xs-12 col-sm-{{d.width}} col-md-{{d.width}} item" data-id="{{d.dataId}}">
        <div class="card item-content" >
        <div class="card-header" id={{d.dataId}}-{{d.header}}>{{d.header}}<a style="float:right" href="#" onclick="layoutMenu(this)" data-toggle="modal" data-target="#exampleModal"><i class="octicon octicon-three-bars"></i></a></div>
        <div class="card-body text-center">
            {% if d.visualization == "chart" %}
                <div class="charts"  style="height: 320px;margin:-1.25rem">
                    <div id={{d.elId}}>_</div>
                </div>
            {% endif %}
            {% if d.visualization == "hz-bar" %}
                {% for c in d.children  %}
                    {% if c.label != d.header %}
                        <div id={{c.elId}}-text style="font-size:{{c.font_size}}em">{{c.label}}</div>
                    {% else %}
                        <div id={{c.elId}}-text style="font-size:{{c.font_size}}em">_</div>
                    {% endif %}
                    <meter id={{c.elId}} min="0" low="40" high="95" max="100" value="0" title="{{c.label}}"></meter>
                {% endfor %}
            {% endif %}
            {% if d.visualization == "switch" %}
                {% for c in d.children  %}
                    {% if c.label != d.header %}
                    <div class="row" style="margin:5px 0 5px 0">
                        <div id={{c.elId}} class="led grey-led col-xs-3" ></div>
                        <div id={{c.elId}}-text class="col-xs-9" style="text-align: left">{{c.label}}</div>
                    </div>
                    {% else %}
                        <div id={{c.elId}} class="led grey-led" ></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if d.visualization == "dial" %}
                {% for c in d.children  %}
                <div id={{c.elId}}-text style="font-size:{{c.font_size}}em">_</div>
                <canvas id={{c.elId}} width="250" >gauge</canvas>
                {% endfor %}
            {% endif %}
            {% if d.visualization == "text" %}
                {% for c in d.children  %}
                {% if c.label != d.header %}
                    <div>{{c.label}}</div>
                {% endif %}
                <div id={{c.elId}} style="font-size:{{c.font_size}}em; margin-bottom:10px;">_</div>
                {% endfor %}
            {% endif %}
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        </div>
    </div>
{% endfor %}
</div>


<!-- Modal -->
<div class="modal fade" id="nodePicker" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Layout</h5>
              <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-25px">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Width</label>
                        <div class="col-sm-10">
                        <input type="number" class="form-control" id="inputWidth" placeholder="Width">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                First radio
                            </label>
                            </div>
                            <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                Second radio
                            </label>
                            </div>
                            <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                            <label class="form-check-label" for="gridRadios3">
                                Third disabled radio
                            </label>
                            </div>
                        </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-2">Checkbox</div>
                        <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                            Example checkbox
                            </label>
                        </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


