<div class="grid" style="display:none">
{% for d in data  %}
    <div class="col-xs-12 col-sm-{{d.width}} col-md-{{d.width}} item" data-id="{{d.dataId}}">
        <div class="card item-content" >
        <div class="card-header" id={{d.dataId}}-{{d.header}}>{{d.header}}<div style="float:right; cursor: pointer;" href="#"><i class="octicon octicon-three-bars"></i></div></div>
        <div class="card-body text-center">
            {% if d.visualization == "chart" %}
                <div class="charts"  style="height: 320px;margin:-1.25rem">
                    <div id={{d.elId}}>_</div>
                </div>
            {% endif %}
            {% if d.visualization == "hz-bar" %}
                {% for c in d.children  %}
                    {% if c.label != d.header %}
                        <div id={{c.elId}}-text style="font-size:{{c.font_size}}em">{{c.label}}</div>
                    {% else %}
                        <div id={{c.elId}}-text style="font-size:{{c.font_size}}em">_</div>
                    {% endif %}
                    <meter id={{c.elId}} min="0" low="40" high="95" max="100" value="0" title="{{c.label}}"></meter>
                {% endfor %}
            {% endif %}
            {% if d.visualization == "switch" %}
                {% for c in d.children  %}
                    {% if c.label != d.header %}
                    <div class="row" style="margin:5px 0 5px 0">
                        <div id={{c.elId}} class="led grey-led col-xs-3" ></div>
                        <div id={{c.elId}}-text class="col-xs-9" style="text-align: left">{{c.label}}</div>
                    </div>
                    {% else %}
                        <div id={{c.elId}} class="led grey-led" ></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if d.visualization == "dial" %}
                {% for c in d.children  %}
                <div id={{c.elId}}-text style="font-size:{{c.font_size}}em">_</div>
                <canvas id={{c.elId}} width="250" >gauge</canvas>
                {% endfor %}
            {% endif %}
            {% if d.visualization == "text" %}
                {% for c in d.children  %}
                {% if c.label != d.header %}
                    <div>{{c.label}}</div>
                {% endif %}
                <div id={{c.elId}} style="font-size:{{c.font_size}}em; margin-bottom:10px;">_</div>
                {% endfor %}
            {% endif %}
        </div>
        </div>
    </div>
{% endfor %}
</div>